<!doctype html>
<html lang="en">	
<head>
	<meta charset="utf-8">
	<title>Présentation AngularJS</title>
	<link rel="stylesheet" href="bower_components/reveal-js/css/reveal.min.css">
	<link rel="stylesheet" href="bower_components/reveal-js/css/theme/moon.css" id="theme">	
	<link rel="stylesheet" href="bower_components/reveal-js/lib/css/zenburn.css" >	
	<link rel="stylesheet" href="assets/css/index.css">	
</head>

<body>
	<!-- Wrap the entire slide show in a div using the "reveal" class. -->
	<div class="reveal">
		<!-- Wrap all slides in a single "slides" class -->
		<div class="slides">

			<!-- ALL SLIDES GO HERE -->
			<!-- Each section element contains an individual slide -->
			<section>
				<h1>AngularJS</h1>
				<div>Un Framework JavaScript</div>		
			</section>
			<section>
				<section>
					<h2>Introduction</h2>
					<p>Créé par Google en 2009 afin de faciliter la testabilité et la maintenabilité des applications front-end.</p>
					<img src="assets/images/angular.png" width="160">
					<p>AngularJS s'oriente autour de quelques concepts clés : </p>
					<ul>
						<li>Pattern MVVM (MVW)</li>
						<li>Data binding (bi-directionnel)</li>
						<li>Modularité</li>
						<li>Routing</li>
						<li>Injection de dépendances</li>
						<li>Manipulation du DOM (directives)</li>
					</ul>
				</section>
				<section>
					<h2>Introduction</h2>
					<p>Il s’agit d’un des Frameworks JavaScript les plus appréciés pour réaliser des Single Page Application.</p>
					<p>Il en existe bien d'autres : </p>
					<ul>
						<li>Backbone</li>
						<li>ReactJS</li>
						<li>Ember</li>
						<li>...</li>
					</ul>
				</section>
				<section>
					<h2>Introduction</h2>
					<p>Actuellement, AngularJS est en version 1.5.8.</p>
					<p>La version 2 est en Release Candidate et devrait sortir prochainement.</p><br><br>
					<p>Support :</p>
					<ul>
						<li>Principaux navigateurs récents</li>
						<li>IE >= 9 (IE8 a été abandonné depuis la version 1.3)</li>
						<li>Android browser</li>
						<li>IOS</li>
					</ul>
				</section>
				<section>
					<h2>Pattern MVVM</h2>
					<p>AngularJS se base sur le pattern Model View ViewModel (MVVM).</p>
					<p>Il s'agit pour vulgariser d'un pattern MVC accentué par un data binding évennementiel.</p>
					<img src="assets/images/MVVM1.png">
					<img src="assets/images/MVVM2.png">
				</section>
			</section>
			<section>
				<section>
					<h2>Installation</h2>
					<p>Inclure la librairie avec bower</p>
					<pre>
						<code contenteditable data-trim class="bash">
> bower install angular
						</code>
					</pre>
					<p>Définir le contexte d’exécution d’AngularJS (rootScope)</p>
					<pre class="left">
						<code contenteditable data-trim class="html">
<div ng-app="app"></div>
						</code>
					</pre>
					<pre class="right">
						<code contenteditable data-trim class="javascript">
(function(angular) {
	'use strict';

	//Module principal
	angular.module('app', []);
})(window.angular);
						</code>
					</pre><br><br><br><br><br><br>
					<p>ng-app est la directive qui définie le scope d’un traitement AngularJS.</p>
				</section>
			</section>
			<section>
				<section>
					<h2>Les modules</h2>
					<p>Angular utilise une logique modulaire.</p>
					<p>Découper l’application en modules afin de faciliter :
						<ul>
							<li>La maintenabilité</li>
							<li>La testabilité</li>
						</ul>
					</p><br><br>
					<p>Chaque module va contenir contrôleur, vues, services ...</p>
					<p>Bonnes pratiques :
						<ul>
							<li>Un module par fonctionnalité</li>
							<li>Un module par composant réutilisable</li>
						</ul>
					</p>
				</section>
				<section>
					<h3>Déclarer un module</h3>
					<p>Nous avons déjà vu précédemment qu’un module principal était nécessaire pour initialiser l’application AngularJS.</p>
					<pre>
						<code contenteditable data-trim class="javascript">
// Déclaration d'un module						
var module = angular.module('test', []);	
// Injection de ce module dans le main module
var app = angular.module('app', ['test']);					
						</code>
					</pre>
				</section>
				<section>
					<h3>Les modules AngularJS</h3>
					<p>La librairie AngularJS se compose : 
						<ul>
							<li>D'un fichier "core"</li>
							<li>De fichiers additionnels (Modules) qui peuvent être installés avec Bower</li>
						</ul>
					</p><br><br>
					<p> Voici quelques modules AngularJS :
						<ul>
							<li>ngCookies, pour la gestion des cookies</li>
							<li>ngResource, pour interagir avec un serveur REST</li>
							<li>ngMessages, pour les messages dans les templates</li>
							<li>ngAnimate, pour les animations</li>
							<li>ngSanitize, module particulier pour vérifier le HTML.</li>
							<li>ngTouch, pour les évènements liés au mobile (swipe par exemple)</li>
						</ul>
					</p>
				</section>
				<section>
					<h3>Les modules AngularJS</h3>
					<p>Téléchargement de dépendances :</p>
					<pre>
						<code contenteditable data-trim class="bash">
> bower install angular-cookies			
> bower install angular-resource			
						</code>
					</pre>
					<p>Inclusion des fichiers :</p>
					<pre>
						<code contenteditable data-trim class="html">
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>	
<script src="bower_components/angular-resource/angular-resource.js"></script>		
						</code>
					</pre>
					<p>Inclusion des modules au main module :</p>
					<pre>
						<code contenteditable data-trim class="javascript">
// Injection des dans le main module
var app = angular.module('app', ['ngCookies', 'ngResource']);					
						</code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h2>Le templating</h2>
					<p>Angular permet l’écriture d’expression dynamique dans les templates.</p>
					<p>Syntaxe {{ }} pour indiquer une expression à évaluer</p>
					<p>Cette expression doit être une expression JavaScript valable
	</p>
					<pre>
						<code contenteditable data-trim class="javascript">
{{ 2 + 2 }}					
{{ a + b }}					
{{ person.name }}					
{{ items[0] }}					
						</code>
					</pre>
					<p>Les variables utilisées dans une expression ne sont pas recherchées dans l’object «window» mais un «scope».</p>
					Voir aussi <a href="http://handlebarsjs.com/">http://handlebarsjs.com/
	</a>
				</section>
				<section>
					<h3>Le data binding</h3>
					<p>Angular permet un double binding des données entre la vue et le modèle.</p>
					<p>Il est donc très facile de maintenir l’affichage des champs en accord avec le modèle.</p>
					<pre>
						<code contenteditable data-trim class="html">
<input type="text" ng-model="name" placeholder="Name..." />
<div>Model : {{ name }}</div>				
						</code>
					</pre>
					<img src="assets/images/two-way-data-binding.png">
				</section>
				<section>
					<h3>Le scope</h3>
					<p>Le scope représente le modèle de l’application et le contexte d’exécution pour les expressions.</p>
					<p>Tous les scopes sont organisés de manière hiérarchique et héritent du scope applicatif rootScope.</p>
					<p>Le scope sert de «glue» entre la view et le controller.</p>
					<img src="assets/images/scope.png" width="550">

				</section>
				<section>
					<h3>Les contrôleurs</h3>
					<p>Lié une vue à un contrôleur via la directive ng-controller.</p>
					<p>Le contrôleur contiendra un ensemble de variables et méthodes accessibles depuis la vue grâce à l’objet scope.</p>
					<img src="assets/images/controller.png" width="550">
				</section>
				<section>
					<h3>Les contrôleurs</h3>
					<p>La déclaration d’un contrôleur est simple, il s’agit d’une simple fonction.</p>
					<p>Cette fonction doit être référencée dans le Framework :</p>
					<pre class="left">
						<code contenteditable data-trim class="javascript">
var app = angular.module('app');
app.controller('Test', function(){
	this.name = 'my name';
});
						</code>
					</pre>
					<pre class="right">
						<code contenteditable data-trim class="html">
<div ng-controller="Test as ctrl">
	<input type="text" ng-model="ctrl.name"/>
	<div>Model : {{ ctrl.name }}</div>
</div>				
						</code>
					</pre>

					<pre class="left">
						<code contenteditable data-trim class="javascript">
var app = angular.module('app');
app.controller('Test', function($scope){
	$scope.name = 'my name';
});
						</code>
					</pre>
					<pre class="right">
						<code contenteditable data-trim class="html">
<div ng-controller="Test">
	<input type="text" ng-model="name"/>
	<div>Model : {{ name }}</div>
</div>				
						</code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h2>L'injection de dépendances</h2>
					<p>Il s'agit d'un principe de base du Framework.</p>
					<p>Elle permet l’utilisation d’objet sans s’occuper de l’instanciation.</p>

					<pre>
						<code data-trim data-noescape class="javascript">
app.controller('Test', function(<mark>$scope</mark>){
	$scope.name = 'my name';
});
						</code>
					</pre>
					<p>L’injection de dépendance peut se faire sur tout objet référencé dans angular (controller, service…)</p>
				</section>
				<section>
					<h3>Injection par tableaux</h3>
					<pre>
						<code data-trim data-noescape class="javascript">
// Déclaration avec injection de dépendances
app.controller('Test', ['$scope', 'service', function(a, b){
	a.name = 'my name';
}]);
						</code>
					</pre>
				</section>
				<section>
					<h3>Injection avec $inject</h3>
					<pre>
						<code data-trim data-noescape class="javascript">
//Constructeur du contrôleur
var Test = function(a, b) {
	a.name = 'my name';
}

//Injection
Test.$inject = ['$scope', 'service'];

// Instanciation
app.controller('Test', Test);
						</code>
					</pre>
				</section>
				<section>
					<h3>Injection implicite</h3>
					<p>Attention à la minification (ng-annotate).</p>
					<pre>
						<code data-trim data-noescape class="javascript">
app.controller('Test', function($scope){
	$scope.name = 'my name';
});
						</code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h2>Les directives</h2>
					<p>Nous les avons déjà utilisé (ng-app, ng-controller).</p>
					<p>Une directive est un comportement que l’on va associé à un élément du DOM.</p>
					<p>Elle peut être utilisée en tant qu’élément à par entière, attribut, nom de classe, commentaire.</p><br><br>
					<p>Le compilateur HTML d’Angular va associé un comportement aux directives présentes dans le template</p>
				</section>
				<section>
					<h3>Déclaration de directive</h3>
					<pre>
						<code data-trim data-noescape class="javascript">
app.controller('Test', function($scope){
	$scope.<mark>name</mark> = 'my name';
});

app.directive('myName', function(){
	return {
		retrict: A, // A, E, M, C
		template: 'Bonjour {{<mark>name</mark>}}'
	}
});
						</code>
					</pre>
					<p>Le template peut être spécifié : 
					<ul>
						<li>En chaîne de caractères (template) </li>
						<li>Avec un fichier (templateUrl)</li>
					</ul></p>
				</section>
				<section>
					<h3>Usage de la directive</h3>
					<p>La directive «myName» déclarée précédemment va s'utiliser de la manière suivante :</p>
					<pre>
						<code data-trim contenteditable class="html">
<div ng-controller="Test">
	<my-name></my-name>
</div>
						</code>
					</pre>
				</section>
				<section>
					<h3>Manipulation du DOM</h3>
					<p>Cette fonction permet la manipulation de l'élément DOM associé à la directive et de ses enfants.</p>
					<p>Elle se déclare dans la directive :</p>
					<pre>
						<code data-trim data-noescape class="javascript">
app.directive('myName', function(){
	return {
		retrict: A, // A, E, M, C
		template: 'Bonjour {{name<}}'
		link: function(scope, element, attrs) {
			element.css({backgroundColor: 'lightgrey'});
		}
	}
});
						</code>
					</pre>
				</section>
				<section>
					<h3>Les paramètres de directives</h3>
					<p>Des paramètres peuvent être passés aux directives avec la déclaration d'un scope :</p>
					<pre>
						<code data-trim data-noescape class="javascript">
scope : {
	color: '=color'
}
						</code>
					</pre>	
					<pre>
						<code data-trim class="html">
<my-name color="lightgrey"></my-name>
						</code>
					</pre>	

				</section>
				<section>
					<h3>Les directives de base</h3>
					<p>Le Framework fournie un ensemble de directives :</p>
					<ul>
						<li>ng-app</li>
						<li>ng-bind ({{ }})</li>
						<li>ng-controller</li>
						<li>ng-model</li>
						<li>ng-repeat</li>
						<li>ng-if</li>
						<li>ng-show</li>
						<li>ng-hide</li>
						<li>ng-click</li>
						<li>ng-class</li>
						<li>...</li>
					</ul>
				</section>
			</section>
		</div>
		<footer>
            <img src="assets/images/modis.png"/><br> Présentation JavaScript - David Talabard - Septembre 2016.
        </footer>
	</div>

	<script src="bower_components/reveal-js/lib/js/classList.js"></script>
	<script src="bower_components/reveal-js/lib/js/head.min.js"></script>
	<script src="bower_components/reveal-js/js/reveal.min.js"></script>

	<script>
		// Required, even if empty.
		Reveal.initialize({
                    history: true,
                    width: 1100,
                    transition: 'fade', // none/fade/slide/convex/concave/zoom
		    dependencies: [

		        // Syntax highlight for <code> elements
		        { src: 'bower_components/reveal-js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }

		    ]
		});
		// Shows the slide number using default formatting
		Reveal.configure({ slideNumber: true });

	</script>
</body>
</html>
