<!doctype html>
<html lang="en">	
<head>
	<meta charset="utf-8">
	<title>Présentation AngularJS</title>
	<link rel="stylesheet" href="bower_components/reveal-js/css/reveal.min.css">
	<link rel="stylesheet" href="bower_components/reveal-js/css/theme/moon.css" id="theme">	
	<link rel="stylesheet" href="bower_components/reveal-js/lib/css/zenburn.css" >	
	<link rel="stylesheet" href="assets/css/index.css">	
</head>

<body>
	<!-- Wrap the entire slide show in a div using the "reveal" class. -->
	<div class="reveal">
		<!-- Wrap all slides in a single "slides" class -->
		<div class="slides">

			<!-- ALL SLIDES GO HERE -->
			<!-- Each section element contains an individual slide -->
			<section>
				<h1>AngularJS</h1>
				<div>Un Framework JavaScript</div>		
			</section>
			<section>
				<section>
					<h2>Introduction</h2>
					<p>Créé par Google en 2009 afin de faciliter la testabilité et la maintenabilité des applications front-end.</p>
					<img src="assets/images/angular.png" width="160">
					<p>AngularJS s'oriente autour de quelques concepts clés : </p>
					<ul>
						<li>Pattern MVVM (MVW)</li>
						<li>Data binding (bi-directionnel)</li>
						<li>Modularité</li>
						<li>Routing</li>
						<li>Injection de dépendances</li>
						<li>Manipulation du DOM (directives)</li>
					</ul>
				</section>
				<section>
					<h2>Introduction</h2>
					<p>Il s’agit d’un des Frameworks JavaScript les plus appréciés pour réaliser des Single Page Application.</p>
					<p>Il en existe bien d'autres : </p>
					<ul>
						<li>Backbone</li>
						<li>ReactJS</li>
						<li>Ember</li>
						<li>...</li>
					</ul>
				</section>
				<section>
					<h2>Introduction</h2>
					<p>Actuellement, AngularJS est en version 1.5.8.</p>
					<p>La version 2 est en Release Candidate et devrait sortir prochainement.</p><br><br>
					<p>Support :</p>
					<ul>
						<li>Principaux navigateurs récents</li>
						<li>IE >= 9 (IE8 a été abandonné depuis la version 1.3)</li>
						<li>Android browser</li>
						<li>IOS</li>
					</ul>
				</section>
				<section>
					<h2>Pattern MVVM</h2>
					<p>AngularJS se base sur le pattern Model View ViewModel (MVVM).</p>
					<p>Il s'agit pour vulgariser d'un pattern MVC accentué par un data binding évenementiel.</p>
					<img src="assets/images/MVVM1.png">
					<img src="assets/images/MVVM2.png">
				</section>
			</section>
			<section>
				<section>
					<h2>Installation</h2>
					<p>Inclure la librairie avec bower</p>
					<pre>
						<code contenteditable data-trim class="bash">
> bower install angular
						</code>
					</pre>
					<p>Définir le contexte d’exécution d’AngularJS (rootScope)</p>
					<pre class="left">
						<code contenteditable data-trim class="html">
<div ng-app="app"></div>
						</code>
					</pre>
					<pre class="right">
						<code contenteditable data-trim class="javascript">
(function(angular) {
	'use strict';

	//Module principal
	angular.module('app', []);
})(window.angular);
						</code>
					</pre><br><br><br><br><br><br>
					<p>ng-app est la directive qui définie le scope d’un traitement AngularJS.</p>
				</section>
			</section>
			<section>
				<section>
					<h2>Les modules</h2>
					<p>Angular utilise une logique modulaire.</p>
					<p>Découper l’application en modules afin de faciliter :
						<ul>
							<li>La maintenabilité</li>
							<li>La testabilité</li>
						</ul>
					</p><br><br>
					<p>Chaque module va contenir contrôleur, vues, services ...</p>
					<p>Bonnes pratiques :
						<ul>
							<li>Un module par fonctionnalité</li>
							<li>Un module par composant réutilisable</li>
						</ul>
					</p>
				</section>
				<section>
					<h3>Déclarer un module</h3>
					<p>Nous avons déjà vu précédemment qu’un module principal était nécessaire pour initialiser l’application AngularJS.</p>
					<pre>
						<code contenteditable data-trim class="javascript">
// Déclaration d'un module						
var module = angular.module('test', []);	
// Injection de ce module dans le main module
var app = angular.module('app', ['test']);					
						</code>
					</pre>
				</section>
				<section>
					<h3>Déclarer un module</h3>
					<p>Un module peut avoir :</p>
					<ul>
						<li>Un bloc de configuration</li>
						<li>Un bloc de lancement (run)</li>
					</ul>
					<pre>
						<code contenteditable data-trim class="javascript">
angular.module('app', []).
	config(function(...) { // provider
	 
	}).
	run(function(...) { // service
	  
	});
						</code>
					</pre>
				</section>
				<section>
					<h3>Les modules AngularJS</h3>
					<p>La librairie AngularJS se compose : 
						<ul>
							<li>D'un fichier "core"</li>
							<li>De fichiers additionnels (Modules) qui peuvent être installés avec Bower</li>
						</ul>
					</p><br><br>
					<p> Voici quelques modules AngularJS :
						<ul>
							<li>ngCookies, pour la gestion des cookies</li>
							<li>ngResource, pour interagir avec un serveur REST</li>
							<li>ngMessages, pour les messages dans les templates</li>
							<li>ngAnimate, pour les animations</li>
							<li>ngSanitize, module particulier pour vérifier le HTML.</li>
							<li>ngTouch, pour les évènements liés au mobile (swipe par exemple)</li>
						</ul>
					</p>
				</section>
				<section>
					<h3>Les modules AngularJS</h3>
					<p>Téléchargement de dépendances :</p>
					<pre>
						<code contenteditable data-trim class="bash">
> bower install angular-cookies			
> bower install angular-resource			
						</code>
					</pre>
					<p>Inclusion des fichiers :</p>
					<pre>
						<code contenteditable data-trim class="html">
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>	
<script src="bower_components/angular-resource/angular-resource.js"></script>		
						</code>
					</pre>
					<p>Inclusion des modules au main module :</p>
					<pre>
						<code contenteditable data-trim class="javascript">
// Injection des dans le main module
var app = angular.module('app', ['ngCookies', 'ngResource']);					
						</code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h2>Le templating</h2>
					<p>Angular permet l’écriture d’expression dynamique dans les templates.</p>
					<p>Syntaxe {{ }} pour indiquer une expression à évaluer</p>
					<p>Cette expression doit être une expression JavaScript valable
	</p>
					<pre>
						<code contenteditable data-trim class="javascript">
{{ 2 + 2 }}					
{{ a + b }}					
{{ person.name }}					
{{ items[0] }}					
						</code>
					</pre>
					<p>Les variables utilisées dans une expression ne sont pas recherchées dans l’object «window» mais un «scope».</p>
					Voir aussi <a href="http://handlebarsjs.com/">http://handlebarsjs.com/
	</a>
				</section>
				<section>
					<h3>Le data binding</h3>
					<p>Angular permet un double binding des données entre la vue et le modèle.</p>
					<p>Il est donc très facile de maintenir l’affichage des champs en accord avec le modèle.</p>
					<pre>
						<code contenteditable data-trim class="html">
<input type="text" ng-model="name" placeholder="Name..." />
<div>Model : {{ name }}</div>				
						</code>
					</pre>
					<img src="assets/images/two-way-data-binding.png">
				</section>
				<section>
					<h3>Le scope</h3>
					<p>Le scope représente le modèle de l’application et le contexte d’exécution pour les expressions.</p>
					<p>Tous les scopes sont organisés de manière hiérarchique et héritent du scope applicatif rootScope.</p>
					<p>Le scope sert de «glue» entre la view et le controller.</p>
					<img src="assets/images/scope.png" width="550">

				</section>
				<section>
					<h3>Les contrôleurs</h3>
					<p>Lié une vue à un contrôleur via la directive ng-controller.</p>
					<p>Le contrôleur contiendra un ensemble de variables et méthodes accessibles depuis la vue grâce à l’objet scope.</p>
					<img src="assets/images/controller.png" width="550">
				</section>
				<section>
					<h3>Les contrôleurs</h3>
					<p>La déclaration d’un contrôleur est simple, il s’agit d’une simple fonction.</p>
					<p>Cette fonction doit être référencée dans le Framework :</p>
					<pre class="left">
						<code contenteditable data-trim class="javascript">
var app = angular.module('app');
app.controller('Test', function(){
	this.name = 'my name';
});
						</code>
					</pre>
					<pre class="right">
						<code contenteditable data-trim class="html">
<div ng-controller="Test as ctrl">
	<input type="text" ng-model="ctrl.name"/>
	<div>Model : {{ ctrl.name }}</div>
</div>				
						</code>
					</pre>

					<pre class="left">
						<code contenteditable data-trim class="javascript">
var app = angular.module('app');
app.controller('Test', function($scope){
	$scope.name = 'my name';
});
						</code>
					</pre>
					<pre class="right">
						<code contenteditable data-trim class="html">
<div ng-controller="Test">
	<input type="text" ng-model="name"/>
	<div>Model : {{ name }}</div>
</div>				
						</code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h2>L'injection de dépendances</h2>
					<p>Il s'agit d'un principe de base du Framework.</p>
					<p>Elle permet l’utilisation d’objet sans s’occuper de l’instanciation.</p>

					<pre>
						<code data-trim data-noescape class="javascript">
app.controller('Test', function(<mark>$scope</mark>){
	$scope.name = 'my name';
});
						</code>
					</pre>
					<p>L’injection de dépendance peut se faire sur tout objet référencé dans angular (controller, service…)</p>
				</section>
				<section>
					<h3>Injection par tableaux</h3>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
// Déclaration avec injection de dépendances
app.controller('Test', ['$scope', 'service', function(a, b){
	a.name = 'my name';
}]);
						</code>
					</pre>
				</section>
				<section>
					<h3>Injection avec $inject</h3>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
//Constructeur du contrôleur
var Test = function(a, b) {
	a.name = 'my name';
}

//Injection
Test.$inject = ['$scope', 'service'];

// Instanciation
app.controller('Test', Test);
						</code>
					</pre>
				</section>
				<section>
					<h3>Injection implicite</h3>
					<p>Attention à la minification (ng-annotate).</p>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
app.controller('Test', function($scope){
	$scope.name = 'my name';
});
						</code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h2>Les directives</h2>
					<p>Nous les avons déjà utilisé (ng-app, ng-controller).</p>
					<p>Une directive est un comportement que l’on va associé à un élément du DOM.</p>
					<p>Elle peut être utilisée en tant qu’élément à par entière, attribut, nom de classe, commentaire.</p><br><br>
					<p>Le compilateur HTML d’Angular va associé un comportement aux directives présentes dans le template</p>
				</section>
				<section>
					<h3>Déclaration de directive</h3>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
app.controller('Test', function($scope){
	$scope.<mark>name</mark> = 'my name';
});

app.directive('myName', function(){
	return {
		restrict: 'AE', // A, E, M, C
		template: 'Bonjour {{<mark>name</mark>}}'
	}
});
						</code>
					</pre>
					<p>Le template peut être spécifié : 
					<ul>
						<li>En chaîne de caractères (template) </li>
						<li>Avec un fichier (templateUrl)</li>
					</ul></p>
				</section>
				<section>
					<h3>Usage de la directive</h3>
					<p>La directive «myName» déclarée précédemment va s'utiliser de la manière suivante :</p>
					<pre>
						<code contenteditable data-trim contenteditable class="html">
<div ng-controller="Test">
	<my-name></my-name>
</div>
						</code>
					</pre>
				</section>
				<section>
					<h3>Manipulation du DOM</h3>
					<p>Cette fonction permet la manipulation de l'élément DOM associé à la directive et de ses enfants.</p>
					<p>Elle se déclare dans la directive :</p>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
app.directive('myName', function(){
	return {
		restrict: 'A', // A, E, M, C
		template: 'Bonjour {{name}}'
		link: function(scope, element, attrs) {
			element.css({backgroundColor: 'lightgrey'});
		}
	}
});
						</code>
					</pre>
				</section>
				<section>
					<h3>Les paramètres de directives</h3>
					<p>Des paramètres peuvent être passés aux directives avec la déclaration d'un scope :</p>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
scope : {
	color: '@color'
}
						</code>
					</pre>	
					<pre>
						<code contenteditable data-trim class="html">
<my-name color="lightgrey"></my-name>
						</code>
					</pre>	

				</section>
				<section>
					<h3>Les directives de base</h3>
					<p>Le Framework fournie un ensemble de directives :</p>
					<ul>
						<li>ng-app</li>
						<li>ng-bind ({{ }})</li>
						<li>ng-controller</li>
						<li>ng-model</li>
						<li>ng-repeat</li>
						<li>ng-if</li>
						<li>ng-show</li>
						<li>ng-hide</li>
						<li>ng-click</li>
						<li>ng-class</li>
						<li>...</li>
					</ul>
				</section>
			</section>
			<section>
				<section>
					<h2>Les services</h2>
					<p>Les services sont des objets JavaScript qui sont câblés ensembles via l'injection de dépendances.</p>
					<p>Ils sont : 
						<ul>
							<li>Des singletons</li>
							<li>Lazy instanciated : charger uniquement quand un composant dépend du service</li>
							<li>Très utiles pour organiser et partager le code</li>
						</ul>
					</p>
				</section>
				<section>
					<h3>Les services de base</h3>
					<p>Angular propose en natif en ensemble de services qui se distinguent facilement avec le préfixe $.</p>
					<ul>
						<li>$http</li>
						<li>$resource</li>
						<li>$timeout</li>
						<li>$filter</li>
						<li>$log</li>
						<li>$cookies</li>
						<li>$location</li>
						<li>$q</li>
						<li>...</li>
					</ul>
					<p>Certains services nécessitent le chargement de modules angular supplémentaires</p>
				</section>
				<section>
					<h3>Déclaration de service</h3>
					<p>Pour déclarer nos services applicatifs dans le Framework, 3 principaux outils sont fournis par Angular :</p>
					<br><br>
					<div>service ------> factory ------> provider</div>
				</section>
				<section>
					<h3>Service</h3>
					<p>Le service est l'usage le plus simple qui a les caractéristiques suivantes : </p>
					<ul>
						<li>Non configurable</li>
						<li>Usage de this</li>
						<li>Retourne un objet (instance)</li>
						<li>Simplification de Factory</li>
					</ul>
				</section>
				<section>
					<h3>Factory</h3>
					<ul>
						<li>Non configurable</li>
						<li>Méthodes/variables privées</li>
						<li>Retourne une fonction (singleton)</li>
						<li>Simplification de provider</li>

					</ul>
				</section>
				<section>
					<h3>Provider</h3>
					<ul>
						<li>Services configurables</li>
						<li>Seuls services qui peuvent être passés au bloc config()</li>
						<li>Possède une méthode $get</li>
					</ul>
				</section>
				<section>
					<h3>Exemple de code</h3>
					<pre class="left">
						<code contenteditable  data-trim data-noescape class="javascript">
// Service
app.service('test', function(){
	this.name = 'David';
	this.print = function() {
		return name;
	}
});

//Factory
app.factory('test', function(){
	var name = 'David';
	return {
		print: function() {
			return name;
		}
	};
});

						</code>
					</pre>	
					<pre class="right">
						<code contenteditable data-trim data-noescape class="javascript">
// Provider
app.provider('test', function(){
	this.name = 'Default';

	this.$get = function() {
		var name = this.name;
		return {
			print: function() {
				return name;
			}
		}
	};

	this.setName = function(name) {
		this.name = name;
	}
});

//Configuration
app.module('app').config(function(testProvider){
	testProvider.setName('David');
});
						</code>
					</pre>
				</section>
				<section>
					<h3>En résumé</h3>
					<img src="assets/images/service.png" width="550">
				</section>
				<section>
					<h3>Le service $http</h3>
					<p>$http nous permet de communiquer avec un serveur.</p>
					<p>Il permet l’abstraction du mécanisme AJAX en native et notamment XMLHttpRequest</p>
					<p>Ce service utilise l’API Promise ($q) et propose l’ensemble des méthodes HTTP :</p>
					<ul>
						<li>GET</li>
						<li>POST</li>
						<li>PUT</li>
						<li>DELETE</li>
					</ul>
					<pre>
						<code contenteditable  data-trim data-noescape class="javascript">
$http.post('/persons', {name: 'David'})
	.success(...)
	.error(...)
						</code>
					</pre>
				</section>
				<section>
					<h3>Le service $http</h3>
					<p>Angular dispose d’un système de cache interne et il est possible de cacher les requêtes GET</p>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
$http.get('/persons', {cache: 'true'})
						</code>
					</pre>
					<p>Il est même possible d’avoir complètement la main sur le cache utilisé en passant une instance d’un cache grâce à $cacheFactory, un autre service chargé de la gestion des caches.</p>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
var cache = $cacheFactory('cacheId');
cache.put(key, value);
var value = cache.get(key);
...
						</code>
					</pre>
				</section>
				<section>
					<h3>Le service $resource</h3>
					<p>Il s'agit d'un niveau d’abstraction supérieur à $http.</p>
					<p>Il permet une interaction de façon transparente avec une ressource REST.</p>
					<p>Il nécessite le module angular-resource</p>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
var persons = $resource('/persons/:id', {id: '@id'});

persons.save({name: 'David'});
persons.update({name: 'David', id: 1234});
persons.delete({id: 1234});
						</code>
					</pre>
				</section>
				<section>
					<h3>Le service $location</h3>
					<p>Il permet la manipulation de l'URL.</p>
					<p>Il s'agit en fait d'un wrapper amélioré de window.location.</p>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
var path = $location.path();
$location.path('/page/2');
						</code>
					</pre>
					<p>Toutes les valeurs passées à $location sont encodées correctement par Angular.</p>
				</section>
				<section>
					<h3>Le service $locale</h3>
					<p>Il permet la gestion de l’internationalisation.</p>
					<p>Service très rudimentaire :</p>
					<ul>
						<li>Avec bootstrap ce service permet l’internationalisation des datepicker par exemple.</li>
						<li>https://github.com/angular/angular.js/tree/master/src/ngLocale</li>
					</ul><br><br>
					<p>Pour plus de possibilité, il faut utiliser angular-translate.</p>
				</section>
				<section>
					<h3>Le service $cookieStore</h3>
					<p>Il permet la gestion simplifiée des cookies</p>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
// Lecture
var us = $cookieStore.get('user');

// Ecriture
$cookieStore.put('user', us);

// Suppression
$cookieStore.remove('user');
						</code>
					</pre>
				</section>
			</section>
			<section>
				<section>
					<h2>Les filtres</h2>
					<p>Principe très utile du framework qui permet la manipulation des données à l’affichage.</p>
					<p>Dans beaucoup d’application web, il y a des besoins récurrents :</p>
					<ul>
						<li>Transformer des valeurs à l’affichage</li>
						<li>Ordonner des collections</li>
						<li>...</li>
					</ul>
				</section>
				<section>
					<h3>Syntaxe</h3>
					<p>Les filtres AngularJS sont applicables en JavaScript et en HTML.</p>
					<p>La syntaxe se rapproche du style Unix, où l’on peut chaîner les commandes à l’aide du pipe.</p>
					<pre class="left">
						<code contenteditable data-trim data-noescape class="html">
// HTML
Bonjour {{ name | lowercase }}
						</code>
					</pre>
					<pre class="right">
						<code contenteditable data-trim data-noescape class="javascript">
// JavaScript
var name = 'DAVID';
var lowercaseName = $filter('lowercase')(name);
						</code>
					</pre>
				</section>
				<section>
					<h3>Les filtres de base</h3>
					<p>Angular propose par défaut certains filtres communs :</p>
					<pre>
						<code contenteditable data-trim class="html">
// HTML
{{ 85,77 | number:1 }}
{{ 85,77 | currency:'$' }}
{{ today | date:'yyyy-MM-dd' }}
{{ 'David' | uppercase }}
{{ 'David' | lowercase }}
{{ [1, 2, 3] | limit:2 }}
{{ persons | orderBy:'name' }}
						</code>
					</pre>
				</section>
				<section>
					<h3>Le filtre générique</h3>
					<p>Syntaxe <b>filter</b></p>
					<p>Il va retenir tout élément d’un tableau dont une propriété correspond au paramètre du filtre.</p>
					<pre>
						<code contenteditable data-trim class="html">					
<table>
	<tbody>
		<tr ng-repeat="person in persons | filter:search">
			<td>{{person.name}}</td>
		</tr>
	</tbody>
</table>
						</code>
					</pre>
				</section>
				<section>
					<h3>Déclaration de filtres</h3>
					<p>Au même titre que les contrôleur, services et directives, ils peuvent être référencés dans le framework.</p>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
app.filter('myFilter', function() {
	return function() {
		...
	};
});
						</code>
					</pre>
				</section>
			</section>

			<section>
				<section>
					<h2>Le routing</h2>
					<p>Angular fournit des modules pour gérer la navigation dans le site web.</p>
					<ul>
						<li>ng-route</li>
						<li>ui-router</li>
						<li>component-router (depuis Angular 1.5)</li>
				</section>
				<section>
					<h3>ng-route</h3>
					<p>Il s'agit du premier routeur d'AngularJS.</p>
					<p>Aujourd'hui, d'autres routeurs plus évolués sont apparus car ng-route a les inconvénients suivants :</p>
					<ul>
						<li>Transitions par URL</li>
						<li>Utilisation de beaucoup de directives</li>
						<li>Hiérarchie de scope qui se complexifie</li>
					</ul>
					<p>----> ui-router</p>
				</section>
				<section>
					<h3>ui-router</h3>
					<p>Ui-router permet de gérer les transitions par états.</p>
					<p>Tous les états ne nécessitent pas forcément une url (ex: modal)</p>
					<p>Il permet donc de concevoir les états dont l’application aura besoin.</p><br><br>
					<p>Les states peuvent être configurés en « across module » </p>
					<pre>
						<code contenteditable data-trim class="bash">
> bower install angular-ui-router
						</code>
					</pre>
				</section>
				<section>
					<h3>Les services d'ui-router</h3>
					<ul>
						<li>$stateProvider : définit l’état des transitions</li><br><br>
						<li>$state : transition à un autre état, vérifie quel est l’état courant</li><br><br>
						<li>$stateParams  récupère le chemin et les paramètres de la requête pour l’état courant</li>
					</ul>
				</section>
				<section>
					<h3>Déclaration de state</h3>
					<pre>
						<code contenteditable data-trim data-noescape class="javascript">
$stateProvider.state('root', {
	views : {
		'header': {
			templateUrl: 'app/common/header/header.html'
		}
	}
});
//Les états peuvent comme ci-dessous hériter les uns des autres.
stateProvider.state('root.test', {
    url: '/test',
    views: {
        'main@': {
            templateUrl: 'app/test/list.html',
            controller: 'testCtrl'
        }
    }
});
						</code>
					</pre>
					<pre>
						<code contenteditable data-trim class="html">
<ui-view name="header"></ui-view>
<ui-view name="main"></ui-view>
						</code>
					</pre>
					
				</section>
				<section>
					<h3>Navigation entre états</h3>
					<p>Ui-router permet une gestion des transitions (navigation), de deux manières :</p>
					<ul>
						<li>En JavaScript</li>
						<pre>
							<code contenteditable data-trim class="javascript">
	$state.go('root.test');
							</code>
						</pre>
						<li>Dans le template</li>
						<pre>
							<code contenteditable data-trim class="html">
	<a ui-sref="root.test">Test</a>
							</code>
						</pre>
					</ul>
				</section>
			</section>

			<section>
				<section>
					<h2>Internationalisation</h2>
					<p>Angular-translate est la référence en matière d’internationalisation.</p>
					<p>Après installation du module, il suffit juste de configurer le provider $translateProvider au niveau du module de l’application</p>
					<pre>
							<code contenteditable data-trim class="javascript">
var translations = {
	'app.title': 'AngularJS'
};
$translateProvider.translations('en', translations);
						</code>
					</pre>
					<p>Il est possible aussi de charger les traductions avec :</p>
					<ul>
						<li>Des fichiers JSON</li>
						<li>Une requête HTTP</li>
					</ul>
				</section>
				<section>
					<h3>Utilisation</h3>
					<p>Dans la vue il suffit d’utiliser le filtre <b>translate</b> pour exécuter la transaction.</p>
					<pre>
							<code contenteditable data-trim class="html">
<span ng-bind="'app.title' | translate"></span>
						</code>
					</pre>
					<p>Ce filtre peut prendre des variables en paramètres.</p>
					<p>Pour répondre au même besoin, le module fournit :</p>
					<ul>
						<li>Des directives</li>
						<li>Des services ($translate)</li>
					</ul>
				</section>
				<section>
					<h3>Utilisation</h3>
					<p>Changer de langage simplement avec le service $translate :</p>
					<pre>
						<code contenteditable data-trim class="javascript">
$translate.use('fr');
						</code>
					</pre>
					<p>Quelques modules complémentaires :</p>
					<ul>
						<li>angular-translate-loader-static-files</li>
						<li>angular-translate-storage-cookie</li>
					</ul><br><br>
					<p>angular-translate supporte la négociation de langage en fonction de la langue du navigateur web.</p>
				</section>
			</section>

			<section>
				<section>
					<h2>Validation de formulaire</h2>
					<p>Angular fournit des propriétés qui permettent de connaître le niveau d’interaction avec le formulaire ou les champs.</p>
					<ul>
						<li>$valid</li>
						<li>$invalid</li>
						<li>$dirty</li>
						<li>$pristine</li>
						<li>$error</li>
					</ul>
					<pre>
						<code contenteditable data-trim class="javascript">
//Pour chaque élément HTML, ce module se base sur l’attribut name
form.firstName.$invalid
form.$invalid
						</code>
					</pre>
					<p>Remarque: la validation HTML5 n'est pas utile dans ce cas. (novalidate)</p>
				</section>
				<section>
					<h3>Gestion des messages d'erreur</h3>
					<p>Le module angular-messages (ngMessages) Permet le contrôle des champs et l’affichage d’erreurs lors de la saisie d’un formulaire.</p>
					<p>Les directives suivantes permettent de restreindre la saisie dans des champs: </p>
					<ul>
						<li>ng-required (required)</li>
						<li>ng-minlength</li>
						<li>ng-maxlength</li>
						<li>ng-pattern</li>
					</ul><br><br>
					<p>Les directives ng-messages et ng-message permettent de configurer le libellé à afficher.</p>
				</section>
				<section>
					<h3>Exemple d'utilisation</h3>
					<pre>
						<code contenteditable data-trim class="html">
<form name="form">
	<input type="text" name="firstName" ng-required/>
	<div ng-messages="form.firstName.$error">
		<span ng-message="required">Le prénom est obligatoire.</span>
	</div>
</form>
						</code>
					</pre>
				</section>
			</section>

			<section>
				<section>
					<h2>Nouveauté Angular 1.5</h2>
					<p>Angular 1.5 est sortie en avril 2016.</p>
					<p>Cette version offre des nouveaux concepts qui se rapproche d'Angular 2.</p>
					<br><br>
					<p>La principale nouveauté : Les components.</p>
				</section>
				<section>
					<h3>Les components</h3>

					<p>Tendance actuelle : organiser l'application en hiérarchie de composants autonome. (scopes isolés)</p><br><br>
					<p>Les components ont une syntaxe quasiment similaires aux directives.</p>
					<p>Un composant peut en utiliser un autre. (require)</p>
				</section>
				<section>
					<h3>Exemple</h3>
					<pre>
						<code contenteditable data-trim class="javascript">
angular.module('app').component('hello', {
	bindings: {
		name: '@'
	},
	controller: function(){
		this.logName = function(){
			console.log(this.name);
		}
	},
	template: '<div ng-click="logName()">Hello {{$ctrl.name}}</div>'
});
						</code>
					</pre>
					<pre>
						<code contenteditable data-trim class="html">
<hello name="David"></hello>
						</code>
					</pre>
				</section>
				<section>
					<h3>Component router</h3>
					<p>Avec $routerRootComponent, il est indispensable de déclarer un component container.</p>
					<p>Ensuite pour chaque component il est possible d'associer une url au niveau du module:</p>
					<pre>
						<code contenteditable data-trim class="javascript">
$routeConfig : [
	{path: '/hello', component: 'hello'}
];
						</code>
					</pre>
				</section>
			</section>

			
		</div>
		<footer>
            <img src="assets/images/modis.png"/><br> Présentation JavaScript - David Talabard - Septembre 2016.
        </footer>
	</div>

	<script src="bower_components/reveal-js/lib/js/classList.js"></script>
	<script src="bower_components/reveal-js/lib/js/head.min.js"></script>
	<script src="bower_components/reveal-js/js/reveal.min.js"></script>

	<script>
		// Required, even if empty.
		Reveal.initialize({
                    history: true,
                    width: 1100,
                    transition: 'fade', // none/fade/slide/convex/concave/zoom
		    dependencies: [

		        // Syntax highlight for <code> elements
		        { src: 'bower_components/reveal-js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }

		    ]
		});
		// Shows the slide number using default formatting
		Reveal.configure({ slideNumber: true });

	</script>
</body>
</html>
