.reveal section p{
    text-align:  left;
}
.reveal section pre,
.reveal section img{
    border: none;
    background: none;
    box-shadow: none;
}

.reveal footer {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.5em;
    color: #71cae9;
}

.left {
	float: left;
	width: 48%!important;
}

.right {
	float: right;
	width: 48%!important;
}
